body {
  font-family: "Roboto";
  font-size: 22px;
  background-repeat: repeat-x;
}

img {
  float: left;
  -webkit-border-radius: 50px;
	border-radius: 50px;
}

h1 {
  font-size: 40px;
  color: blue;
  letter-spacing: 6px;
  font-variant: small-caps;
  font-family: "Lato";
}

p {
  font-size: 16px;
  color: black;
  text-align: justify;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #4fadfa;
  display: block;
  font-variant: small-caps;
}

.sidenav a:hover {
  color: #2f7ec4;
}

.main {
  margin-left: 140px;
  /* Same width as the sidebar + left position in px */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}