body {
  font-family: "Open Sans";
  font-size: 22px;
  background-repeat: repeat-x;
}

#selfie {
  float: left;
  -webkit-border-radius: 50px;
	border-radius: 70px;
}

#landing {
  float: center;
  -webkit-border-radius: 50px;
	border-radius: 70px;
}

#job {
  float: left;
  border: 1px solid #669c28;
}

#profile {
  float: center;
  border: 1px solid #669c28;
}

h1 {
  font-size: 36px;
  color: #669c28;
  letter-spacing: 8px;
  font-variant: all-small-caps;
  font-family: "Lato";
}

h3 {
  font-size: 24px;
  color: #3a4929;
  letter-spacing: 4px;
  font-variant: all-small-caps;
  font-family: "Lato";
}

p {
  font-size: 16px;
  color: black;
  text-align: justify;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 10px;
  background: #669c28;
  overflow-x: hidden;
  padding: 20% 10px 20% 10px;
  border-radius: 25px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:#ffffff;
  display: block;
  font-variant: all-small-caps;
  
}

.sidenav a:hover {
  color: #1a612b;
}



.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.centerproject {
  margin: auto;
  width: 50%;
  padding: 10px;
  column-count: 2;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
}


