body {
  font-family: "Open Sans";
  font-size: 22px;
  background-repeat: repeat-x;
}

img {
  float: left;
  -webkit-border-radius: 50px;
	border-radius: 50px;
}

h1 {
  font-size: 36px;
  color: #669c28;
  letter-spacing: 8px;
  font-variant: all-small-caps;
  font-family: "Lato";
}

h3 {
  font-size: 24px;
  color: #3a4929;
  letter-spacing: 4px;
  font-variant: all-small-caps;
  font-family: "Lato";
}

p {
  font-size: 16px;
  color: black;
  text-align: justify;
  background-color: #669c28;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #669c28;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:#ffffff;
  display: block;
  font-variant: all-small-caps;
}

.sidenav a:hover {
  color: #1a612b;
}

.main {
  margin-left: 140px;
  /* Same width as the sidebar + left position in px */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}